<template>
    <nav>
        <RouterLink to="/">Go to Home</RouterLink>
        <RouterLink to="/about">Go to About</RouterLink>
    </nav>
    <RouterView />
</template>

<script lang="ts" setup>
interface Payload
{
    name: string
    amount: number
}
const submit = (payload: Payload) => {
    //
}
</script>
